body {
    font-family: Verdana;
    font-size: 1.1em;
    color: darkblue;

    background-color: silver;
}

h1 {
    font-variant: small-caps;
    background-color: firebrick;

}

.link {
    font-family: Amiri;
    font-size: 1.2em;
}

.home {
    font-size: 0.9em;
    font-family: Calibri;
    position: absolute;
    bottom: 0;
    left: 50%;
}