body {
    background-image: url("../semester 1/images/backgrounds/0-9085-fall-wallpaper-iphone.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    text-align: center;
}

a {
    text-decoration-line: none;
    color: blue;
}

a:hover {
    text-decoration-line: underline;

}

h1 {
    font-size: 3em;
    text-decoration-line: underline;
}